@media(max-width: 975px){

    #home-header{  
        /* Size */
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
    }
  
    #home-cover-image{
        /* Animation */
        transform: translateY(-10%);
        animation-name: zoomOutCover;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
    }
  
    #home-title{}

    #home-title-first-line{
        /* Font */
        font-size: var(--forty-five-px);
        line-height: var(--forty-five-px);
    }
  
    #home-title-second-line{
        /* Font */
        font-size: var(--forty-five-px);
        line-height: var(--forty-five-px);
    }
      
    .home-title-secondary{
        /* Font */
        font-size: var(--nineteen-px);
        line-height: var(--twenty-four-px);
    }
  
    #home-read-more-button{
        /* Size*/
        height: 6vh;
        width: 35vw;
        margin-top: 3.2vh;
    
        /* Font */
        font-size: var(--twelve-px);
        letter-spacing: 3px;
    }

    #home-social-logos-grid{}

    #home-facebook-wrapper{}

    #home-facebook-logo{}

    #home-instagram-wrapper{}

    #home-instagram-logo{}

    #home-company-logos-wrapper{
        /* Size */
        width: 80vw;
    }

    #home-maersk-logo{
        /* Size*/
        width: 55.56px;
        height: 49.15px;
    }

    #home-maersk-logo:hover {
        /* Animation */ 
        transform: scale(1.2);
    }

    #home-acl-logo{
        /* Size*/
        width: 60px;
        height: 33.75px;
    }

    #home-acl-logo:hover {
        /* Animation */
        transform: scale(1.2);
    }

    #home-msc-logo{
        /* Size*/
        width: 50px;
        height: 44.5px;
    }

    #home-msc-logo:hover{
        /* Animation */
        transform: scale(1.2);
    }

    #home-cma-logo{
        /* Size*/
        width: 71.77px;
        height: 56.475px;
    }

    #home-cma-logo:hover{
        /* Animation */
        transform: scale(1.2);
    }

    #home-body{
        /* Size*/
        width: 80vw;
    }

    .home-about-title{
        /* Font */ 
        font-size: var(--nineteen-px);
        line-height: var(--twenty-four-px);
    }
    
    #home-about-text{
        /* Font */ 
        font-size: var(--twelve-px);
        line-height: var(--sixteen-px);
    }
    
    #home-body-image{
        /* Size*/
        width: 92.15vw;
    }
    
    #home-form{

    }
    
    #home-form-title{
        /* Font */ 
        font-size: var(--nineteen-px);
        line-height: var(--twenty-four-px);
    }
    
    #home-form-input-grid{
        /* Display/Position */
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        /* Size*/
        margin: auto;
        margin-top: 6vh;

        /* Font */
        font-size: var(--twelve-px);
    }
    
    .home-form-input-card{
        /* Font */
        line-height: var(--thirty-px);
    }
    
    .home-form-text-input{

    }
    
    .home-form-text-input::placeholder{

    }
    
    .home-form-text-input:focus{

    }
    
    .home-form-input-warning{
    
    }
    
    #home-form-submit-grid{
        /* Display/Position */
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5vh;

        /* Font */
        font-size: var(--sixteen-px);
    }
    
    #home_form_pdf_logo{
        /* Display/Position */
        grid-area: 1/1;
        align-self: center;
    }

    #home-form-terms-and-conditions{
        /* Display/Position */
        justify-self: center;

        /* Font */
        font-size: var(--sixteen-px);
    }
    
    #home-form-submit-button{
        /* Display/Position */
        grid-area: 2/1;

        /* Size*/
        height: 6vh;
        width: 40vw;
        
        /* Font */
        font-size: var(--sixteen-px);
    }
    
    #home-form-submit-button:hover{
    
    }
    
    #home-form-submit-button:before{
    
    }
    
    #home-form-submit-button:hover:before{

    }
}