#services-page{
    text-align: center;
}

#services-header{
    
}

#services-header > *{
    /* Display/Position */
    grid-area: 1/1;
}

#services-cover-image{
    /* Animation */
    transform: translateY(0%);
    height:100vh;
}

#services-header-box{
    /* Display/Position */
    position: absolute;
    right: 5vw;
    top: 25vh;

    /* Size*/
    width: 40vw;
    min-height: 50vh;

    /* Color */
    background-color: rgba(255,255, 255, 0.5);


    /* Font */
    text-align: left;
    font-size: var(--nineteen-px);
    line-height: var(--twenty-four-px);
}

#services-header-title{
    /* Display/Position */
    margin: auto;
    
    /* Size*/
    width: 90%;

    /* Font */
    font-family: 'TT Firs Neue Thin';
    font-size: var(--forty-px);
    line-height: var(--sixty-px);
}

.services-header-paragraph{
    /* Display/Position */
    margin: auto;
    
    /* Size*/
    width: 90%;

    /* Font */
    font-size: inherit;
    line-height: inherit;
}