/* CLASSES */

.services-read-more-button{
    /* Size*/
    width: calc(230px + 0.1vw);
    height: calc(55px + 0.1vh);
    margin-top: 2vh;

    /* Color */
    border: 2px solid var(--nidsan-gold);
    background-color: transparent;
    
    /* Font */
    font-size: var(--twelve-px);
    font-weight: bold;
    letter-spacing: 3px;
    
    /* Animation */
    transition: ease-out 0.5s;
}

.services-read-more-button:hover{
    /* Display/Position */
    cursor: pointer;

    /* Color */
    color: var(--nidsan-gold);
    
    /* Animation */
    transform: translateY(0vh) scale(1.05);
    box-shadow: 14vw 6vh rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1vh 25px 0px rgba(0,0,0,0.75);
}

.services-read-more-button:before{
    /* Display/Position */
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.5s all ease;
    content: "";
    background-color: var(--nidsan-blue);
}

.services-read-more-button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    font-weight: bold;
}

/* OTHER */

#services-page{
    text-align: center;
}

#services-header{
    
}

#services-header > *{
    /* Display/Position */
    grid-area: 1/1;
}

#services-cover-image{
    /* Animation */
    transform: translateY(0%);
    height:100vh;
}

#services-header-box{
    /* Display/Position */
    position: absolute;
    right: 5vw;
    top: 25vh;

    /* Size*/
    width: 40vw;
    min-height: 50vh;

    /* Color */
    background-color: rgba(255,255, 255, 0.5);

    /* Font */
    text-align: left;
    font-size: var(--nineteen-px);
    line-height: var(--twenty-four-px);
}

#services-header-title{
    /* Display/Position */
    margin: auto;
    
    /* Size*/
    width: 90%;

    /* Font */
    font-family: 'TT Firs Neue Thin';
    font-size: var(--forty-px);
    line-height: var(--sixty-px);
}

.services-header-paragraph{
    /* Display/Position */
    margin: auto;
    
    /* Size*/
    width: 90%;

    /* Font */
    font-size: inherit;
    line-height: inherit;
}

#services-social-logos-grid{
    /* Display/Position */
    display: grid;
    position: absolute;
    top: 91.6%;
    left: 4.2%;
    gap: 17px;
  }
  
#services-facebook-wrapper{
    /* Display/Position */
    display: grid;
    grid-area: 1/1;
    align-self: center;
}

#services-facebook-logo{
    /* Display/Position */
    grid-area: 1/1;
    justify-self: center;

    /* Size */
    height: var(--social-logo-size);
    width: var(--social-logo-size);

    /* Animation */
    transition: transform 350ms ease;
}

#services-facebook-logo:hover{
    /* Animation */
    transform: scale(2);
    transition-duration: 500ms;
}

#services-instagram-wrapper{
    /* Display/Position */
    display: grid;
    grid-area: 2/1;
    align-self: center;
}

#services-instagram-logo{
    /* Display/Position */
    grid-area: 1/1;
    justify-self: center;

    /* Size */
    height: var(--social-logo-size);
    width: var(--social-logo-size);

    /* Animation */
    transition: transform 350ms ease;
}
  
#services-instagram-logo:hover{
    /* Animation */
    transform: scale(2);
    transition-duration: 500ms;
}

#services-body{
    /* Display/Position */
    margin-top: 7vh;
}


#services-body-ocean-wrapper{
    /* Display/Position */
    display: grid;
    gap: 1vw;
    
    /* Size */
    width: 90vw;
    margin: auto;
}
#services-body-ocean-text-wrapper{
    /* Display/Position */
    grid-area: 1/1;
    align-self: center;
    
    /* Font */
    text-align: left;
    font-size: var(--sixteen-px);
    line-height: var(--twenty-four-px);
}

#services-body-ocean-title{
    /* Font */
    font-size: var(--thirty-px);
    line-height: var(--thirty-four-px);
}

#services-body-ocean-paragraph{
    /* Display/Position */
    margin-top: 1.5vh;
}

#services-body-ocean-image{
    /* Display/Position */
    grid-area: 1/2;
    
    /* Size */
    width: 50vw;
}

#services-ocean-read-more-button{
    
}

#services-body-inland-wrapper{
    /* Display/Position */
    display: grid;
    gap: 1vw;
    margin: auto;
    margin-top: 10vh;
    
    /* Size */
    width: 90vw;
}

#services-body-inland-image{
    /* Display/Position */
    grid-area: 1/1;

    /* Size */
    width: 50vw;
}

#services-body-inland-text-wrapper{
    /* Display/Position */
    grid-area: 1/2;
    align-self: center;
    
    /* Font */
    text-align: left;
    font-size: var(--sixteen-px);
    line-height: var(--twenty-four-px);
}

#services-body-inland-title{
    /* Font */
    font-size: var(--thirty-px);
    line-height: var(--thirty-four-px);
}

#services-body-inland-paragraph{
    /* Display/Position */
    margin-top: 1.5vh;
}

#services-body-inland-read-more-button{

}

#services-body-air-wrapper{
    /* Display/Position */
    display: grid;
    gap: 1vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 7vh;
    
    /* Size */
    width: 90vw;
}

#services-body-air-text-wrapper{
    /* Display/Position */
    grid-area: 1/1;
    align-self: center;
    
    /* Font */
    text-align: left;
    font-size: var(--sixteen-px);
    line-height: var(--twenty-four-px);
}

#services-body-air-title{
     /* Font */
     font-size: var(--thirty-px);
     line-height: var(--thirty-four-px);
}

#services-body-air-paragraph{
    /* Display/Position */
    margin-top: 1.5vh;
}

#services-body-air-read-more-button{

}

#services-body-air-image{
    /* Display/Position */
    grid-area: 1/2;

    /* Size */
    width: 50vw;
}