#services-page{
    text-align: center;
}

#services-header{
    
}

#services-header > *{
    /* Display/Position */
    grid-area: 1/1;
}

#services-cover-image{
    /* Animation */
    transform: translateY(0%);
    height:100vh;
}

#services-header-box{
    /* Display/Position */
    position: absolute;
    right: 5vw;
    top: 25vh;

    /* Size*/
    width: 40vw;
    min-height: 50vh;

    /* Color */
    background-color: rgba(255,255, 255, 0.5);

    /* Font */
    text-align: left;
    font-size: var(--nineteen-px);
    line-height: var(--twenty-four-px);
}

#services-header-title{
    /* Display/Position */
    margin: auto;
    
    /* Size*/
    width: 90%;

    /* Font */
    font-family: 'TT Firs Neue Thin';
    font-size: var(--forty-px);
    line-height: var(--sixty-px);
}

.services-header-paragraph{
    /* Display/Position */
    margin: auto;
    
    /* Size*/
    width: 90%;

    /* Font */
    font-size: inherit;
    line-height: inherit;
}

#services-social-logos-grid{
    /* Display/Position */
    display: grid;
    position: absolute;
    top: 91.6%;
    left: 4.2%;
    gap: 17px;
  }
  
#services-facebook-wrapper{
    /* Display/Position */
    display: grid;
    grid-area: 1/1;
    align-self: center;
}

#services-facebook-logo{
    /* Display/Position */
    grid-area: 1/1;
    justify-self: center;

    /* Size */
    height: var(--social-logo-size);
    width: var(--social-logo-size);

    /* Animation */
    transition: transform 350ms ease;
}

#services-facebook-logo:hover{
    /* Animation */
    transform: scale(2);
    transition-duration: 500ms;
}

#services-instagram-wrapper{
    /* Display/Position */
    display: grid;
    grid-area: 2/1;
    align-self: center;
}

#services-instagram-logo{
    /* Display/Position */
    grid-area: 1/1;
    justify-self: center;

    /* Size */
    height: var(--social-logo-size);
    width: var(--social-logo-size);

    /* Animation */
    transition: transform 350ms ease;
}
  
  #services-instagram-logo:hover{
    /* Animation */
    transform: scale(2);
    transition-duration: 500ms;
  }