@media(max-width: 975px){
    .footer{
        /* Font */ 
        font-size: var(--ten-px);
        line-height: var(--sixteen-px);
    }
    
    #footer-box{
        /* Display/Position */
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        /* Size*/
        width: 90vw;
        padding-bottom: 5vh;
    }

    #footerNidsanLogo{
        grid-area: 1/1;
        width: calc(92.75px + 0.25vw);
        height: calc(53px + 0.25vh);
        margin-bottom: 2vh;
    }

    #footerPageLinks{
        grid-area: 2/1;
    }
    
    #footerContactInfo{
        grid-area: 2/2;
    }

    #footerSocialLinks{
        grid-area: 2/3;
    }

    .footerText{
        /* Display/Position */
        display:flex; 
        /* Size*/
        margin-bottom: 1vh;
        /* Color */
        font-family: 'Helvetica Neue LT Std';
        font-size: var(--ten-px);
        color: var(--nidsan-light-blue);
    }

    #footerCopyrightText{
    /* Display/Position */
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    /* Size */
        width: 100%;
    /* Color */
        color: var(--nidsan-light-blue);
    /* Font */
        font-family: 'Helvetica Neue LT Std';
        font-size: var(--eight-px);
        text-align: center;
    }
}