.footer{
/* Display/Position */
    position: absolute;
/* Size*/
    width: 100%;
/* Color */
    background-color: #173C53;
/* Font */ 
    /* font-size: calc(9px + 0.5vw);
    line-height: calc(16.8​75px + 0.5vh); */

    font-size: calc(16px + 0.2vw);
    line-height: calc(30px + 0.2vw);
}

.footer a{
    text-decoration: none;
}

#footer-box{
    /* Display/Position */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    /* Size*/
        width: 85vw;
        margin: auto;
        padding-top: 2.51vh;
        padding-bottom: 10vh;
}

#footer-box > *{
    justify-self: center;
}

#footerNidsanLogo{
    width: 160px;
    height: 92px;
    grid-area: 1/1;
}

#footerPageLinks{
    grid-area: 1/2;
}

#footerContactInfo{
    grid-area: 1/3;
}

#footerEmail{
    display: flex;
    align-items: center;
}

#footer-email-logo{
    position: relative;
    width: 20px;
    height: 20px;
}

#footerEmail:hover{
    cursor: pointer;
}

#footerPhone{
    display: flex;
    align-items: center;
}

#footerSocialLinks{
    grid-area: 1/4;
}

.footerText {
/* Display/Position */
    display:flex; 
/* Size*/

/* Color */
    font-family: 'Helvetica Neue LT Std';
    color: #D6E5E8;
}



#footerCopyrightText{
    /* Display/Position */
    position: absolute;
    bottom: 0.33%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Color */
    color: #D6E5E8;
    opacity: 60%;

    /* Font */
    font-family: 'Helvetica Neue LT Std';
    font-size: calc(12px + 0.2vw);
    text-align: center;
}