*{
  /* outline: red solid 1px; */
}
  
  #coverAndTitle{
    /* Display/Position */
      display: grid;
      position: relative;
      overflow: hidden;
  }

  #coverAndTitle > *{
    grid-area: 1 / 1;
  }
  
  #cover{
    /* Display/Position */
      z-index: -1;
    /* Size*/
      max-height: 100vh;
      width: 100%;
    /* Animation */
      animation-name: zoomOutCover;
      animation-duration: 5s;
      animation-timing-function: ease-out;
  }

  @keyframes zoomOutCover{
    from{
      transform-origin: 50% 40%;
      /* transform-origin: top center; */
      transform: scale(4,4);
    }
    to{
      transform :scale(1,1);
    }
  }
  
  #title{
    /* Display/Position */
      position: relative;
      top: 16%;
    /* Size*/
      width: 100%;
      height: 85%;
    /* Font */
      text-align: center;
      color: #073C52;
  }
  
  #titleFirst{
    /* Font */
      font-family: 'TT Firs Neue Thin';
      font-weight: 250;
      font-size: calc(37.5px + 0.6vw);
      line-height: calc(37.5px + 0.6vw);
  }
  
  #titleSecond{
    /* Color */
      color: #BC955B;
    /* Font */
      font-family: 'TT Firs Neue Bold';
      font-size: calc(37.5px + 0.6vw);
      line-height: calc(37.5px + 0.6vw);
  }
  
  #titleThird{
    /* Font */
      font-size: calc(11.875px + 0.6vw);
      font-weight: 450;
  }
  
  #titleFourth{
    /* Font */
      font-size: calc(11.875px + 0.6vw);
      font-weight: 450;
  }

  #FacebookLogo{
    /* Display/Position */
      position: absolute;
      top: 85%;
      left: 2%;
    /* Animation */
      transition: transform 350ms ease;
  }

  #FacebookText{
    /* Display/Position */
      position: absolute;
      top: 85%;
      left: 4%;
    /* Animation */
      transition: transform 350ms ease;
      /* outline: red solid 1px; */
  }

  #facebook:hover > #FacebookLogo{
    transform: scale(1.3);
    transition-duration: 1000ms;
  }

  #facebook:hover > #FacebookText{
    transform: translateX(20%) scale(1.3);
    transition-duration: 1000ms;
  }

  #InstagramLogo{
    /* Display/Position */
      position: absolute;
      top: 90%;
      left: 2%;
    /* Animation */
      transition: transform 350ms ease;
  }
  
  #InstagramText{
    /* Display/Position */
      position: absolute;
      top: 91.2%;
      left: 4.3%;
    /* Animation */
      transition: transform 350ms ease;
      /* outline: red solid 1px; */
  }

  #instagram:hover > #InstagramLogo{
    transform: scale(1.3);
    transition-duration: 1000ms;
  }

  #instagram:hover > #InstagramText{
    transform: translateX(25%) scale(1.3);
    transition-duration: 1000ms;
  }

  #homeBody{
    /* Display/Position */
      
    /* Size*/
      margin-top: 3vh;
      margin-bottom: 5vh;
      margin-left: 15%;
      width: 70%;

      /* outline: red solid 3px; */
  }
  
  #homeBody ul{
    /* Display/Position */
      display: flex;
      justify-content: space-between;
    /* Size*/
      width: 80%;
      margin-left: 10%;
      margin-top: 2vh;
      margin-bottom: 2vh;
  }
  
  #homeBody li {
    /* Display/Position */
      display: flex;
      justify-content: center;
      list-style-type: none;
  }
  
  #ACLLogo {
    /* Display/Position */
      position: relative;
      top: 0.6vw;
  }
  
  .homeLine {
    /* Size*/
      height: 1px;
      margin-top: 2vh;
      margin-bottom: 2vh;
    /* Color */
      background-color: #DBD5BF;
  }
  
  .homeBodyTitle {
    /* Display/Position */
      display: flex;
      justify-content: center;
    /* Size*/
      width: 100%;
      margin-top: 5vh;
      margin-bottom: 2vh;
    /* Font */ 
      text-align: center;
      /* font-size: calc(30px + 0.2vw); */
      font-size: calc(18.75px + 0.6vw);
      font-weight: 400;
      line-height: calc(21.25px + 0.6vw);
  }
  
  .homeBodyTitleBullets{
    /* Display/Position */
      display: flex;
      justify-content: center;
    /* Size*/
      width: 100%;
      /* margin-left: 10%; */
      margin-bottom: 3vh;
    /* Font */ 
      text-align: center;
      /* font-size: calc(30px + 0.2vw); */
      font-size: calc(18.75px + 0.6vw);
      font-weight: 400;
      line-height: calc(21.25px + 0.6vw);
  }
  
  #aboutText{
    /* Display/Position */
      text-align: center;
    /* Size*/
      margin-top: 2vh;
      margin-bottom: 2vh;
    /* Font */ 
      font-size: calc(10px + 0.6vw);
      line-height: calc(15px + 0.6vw);
  }

  #coverSecond{
    /* Display/Position */
      z-index: -1;
    /* Size*/
      width: 90%;
      margin-left: 5%;
  }

  #homeForm{
    /* Display/Position */
      margin-top: 7vh;
      margin-bottom: 5vh;
  }

  .formTitle {
    /* Display/Position */
    /* Size*/
      margin-bottom: 8vh;
    /* Font */ 
      text-align: center;
      /* font-size: calc(30px + 0.2vw); */
      font-weight: lighter;
      font-size: calc(18.75px + 0.5vw);
      line-height: calc(24.375px + 0.5vw);
  }

  .formTitleRow{
    /* Display/Position */
      display: flex;
      justify-content: space-between;
    /* Size*/
      width: 81%;
      margin-top: 1vh;
      margin-left: 9.5%;
  }
  
  .formInputTitle {
    /* Display/Position */
      width: 27%;
      list-style-type: none;
      font-size: calc(10px + 0.5vw);

      /* outline: red solid 3px; */
  }

  .formInputRow{
    /* Display/Position */
      display: flex;
      justify-content: space-between;
    /* Size*/
      width: 81%;
      margin-left: 9.5%;
  }

  .formInput {
    /* Display/Position */
      list-style-type: none;
      font-size: calc(10px + 0.5vw);
    /* Size*/
      width: 27%;
      margin-bottom: 2vh;
  }

  #formRowSeperator{
    /* Display/Position */
      opacity: 0;
    /* Size*/ 
      height: 8vh;
  }

  .textInput{
    /* Display/Position */
    /* Size*/
      width: 100%;
    /* Color */
      background: transparent; 
      border: none;
      border-bottom: 1px solid #073C52;
    /* Font */
      font-size: calc(10px + 0.5vw);
  }

  .textInput:focus{
    /* Display/Position */
      outline: none;
  }

  #formSubmitRow{
    /* Display/Position */
      display: grid;
    /* Size*/
      margin-top: 5vh;
  }

#formSubmitRow li:nth-child(1){
  /* Display/Position */
    list-style-type: none;
    align-self: center;
    grid-area: 1 / 1;
  /* Size*/
    margin-right: 1.5vw;
}

#formSubmitRow li:nth-child(2){
  /* Display/Position */
    list-style-type: none;
    grid-area: 1 / 2;
  /* Size*/
    margin-left: 1.5vw;
}

#termsAndConditions{
  /* Font */
    font-size: calc(10px + 0.5vw);
    text-align: right;
}
  #formSubmitButton{
    /* Display/Position */
      /* display: absolute; */
      justify-content: center;
    /* Size*/
      height: 4vh;
      width: 16vw;
    /* Color */
      background: transparent; 
      border: 1px solid #B0C5D3;
      color: #B0C5D3;
    /* Font */
      font-size: calc(10px + 0.5vw);
  }
