@font-face {
  font-family: 'TT Firs Neue';
  src: url('./font/TT-FrisNeue/TTFirsNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue Thin';
  src: url('./font/TT-FrisNeue/TTFirsNeue-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue Bold';
  src: url('./font/TT-FrisNeue/TTFirsNeue-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  /* src: url('./font/Helvetica-Neue-LT-Std/HelveticaNeueLTStd-Bd.otf'); */
  src: url('./font/Helvetica-Neue-LT-Std/HelveticaNeueLTStd-Cn.otf');
  font-weight: normal;
  font-style: normal;
}

:root{
  /* Color */
  --nidsan-blue: #073C52;
  --nidsan-gold: #BC955B;
  --nidsan-light-blue: #D6E5E8;
  --nidsan-white: #F5F0F0;

  /* Fonts */
  /* --ten-px: 10px;
  --twelve-px: 12px;
  --sixteen-px: 16px;
  --nineteen-px: 19px;
  --twenty-px: 20px;
  --twenty-four-px: 24px;
  --thirty-px: 30px;
  --thirty-four-px: 34px;
  --forty-px: 40px;
  --sixty-px: 60px; */
  --eight-px: calc(8px + 0.05vw + 0.05vh);
  --ten-px: calc(10px + 0.05vw + 0.05vh);
  --twelve-px: calc(12px + 0.05vw + 0.05vh);
  --fourteen-px: calc(14px + 0.05vw + 0.05vh);
  --sixteen-px: calc(16px + 0.05vw + 0.05vh);
  --nineteen-px: calc(19px + 0.05vw + 0.05vh);
  --twenty-px: calc(20px + 0.05vw + 0.05vh);

  /* --twenty-px: calc(20px + 0.1vw + 0.1vh); */
  --twenty-four-px: calc(24px + 0.05vw + 0.05vh);
  --thirty-px: calc(30px + 0.05vw + 0.05vh);
  --thirty-four-px: calc(34px + 0.05vw + 0.05vh);
  --forty-px: calc(40px + 0.05vw + 0.05vh);
  --forty-five-px: calc(45px + 0.05vw + 0.05vh);
  --fifty-px: calc(50px + 0.05vw + 0.05vh);
  --sixty-px: calc(60px + 0.05vw + 0.05vh);


  /* Social Logo Sizes */
  --social-logo-size: calc(18px + 0.05vw + 0.05vh);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'TT Firs Neue';
  color: var(--nidsan-blue);
  /* outline: red solid 1px; */
}

body {
  background: linear-gradient(0deg, rgba(214, 229, 232, 0.2), rgba(214, 229, 232, 0.2));
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  /* Display/Position */
  display: grid;
  position: relative;
  overflow: hidden;

  /* Size */
  max-height: 110vh;
  height: 100vh;
}

.cover-image{
  /* Display/Position */
  z-index: -2;
  overflow: hidden;
  justify-self: center;
  align-self: center;

  /* Size*/
  width: auto;
  height: 120vh;
  min-width: 100vw;

  /* Animation */
  transform: translateY(-10%);
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@media(max-width: 975px){

}

/* NAV BAR */

/* FOOTER */



/**/

.bottom{
  position: absolute;
  bottom: 0;
  left: 0;
}

.dropbtn {
  background-color: lightblue;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white}

.bolded{
  font-weight: bold;
}